<table class="table table-hover">
    <tbody>
        <tr *ngFor="let rd of service.list">
            <td (click)="populateForm(rd)">{{rd.id}}</td>
            <td (click)="populateForm(rd)">{{rd.date}}</td>
            <td (click)="populateForm(rd)">{{rd.name}}</td>
            <td (click)="populateForm(rd)">{{rd.value}}</td>
            <td (click)="populateForm(rd)">{{rd.category}}</td>
            <td (click)="populateForm(rd)">{{rd.type}}</td>
            <td>
                <i class="text-danger" (click)="onDelete(rd.id)">X</i>
            </td>
        </tr>
    </tbody>
</table>